<form class="bg-light m-5 p-5">
    <div class="mb-3">
      <label for="num1" class="form-label">Numero 1</label>
      <input type="number" class="form-control" id="num1" [(ngModel)]="num1" name="num1">
    </div>
    <div class="mb-3">
        <label for="num2" class="form-label">Numero 2</label>
        <input type="number" class="form-control" id="num2" [(ngModel)]="num2" name="num2">
      </div>
      <button type="submit" class="btn btn-primary" (click)="onSoma()">Soma</button>
      <button type="submit" class="btn btn-primary" (click)="onMenos()">Subtrair</button>
      <button type="submit" class="btn btn-primary" (click)="onDivi()">Dividir</button>
      <button type="submit" class="btn btn-primary" (click)="onMult()">Multiplicar</button>
    <div class="mb-3">
        <label class="form-label">{{resul}}</label>
    </div>

  </form>